body {
	background-color: #EEEEEE;
}

h1 {
	font-family: "Inconsolata", sans-serif;
	white-space: nowrap;
	font-size: 30px;
	color: 363636;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
	color: 737373;
	font-size: 18px;
	font-family: "Inconsolata", sans-serif;
	line-height: 1.4;
}

.section {
	text-align: center;
	max-width: 600px;
	margin: auto;
}

.section-head {
	text-align: center;
}

#name {
	text-align: left;
}

#about {
	text-align: left;
}

#profile {
	height: auto;
	width: auto;
	max-height: 300px;
	max-width: 300px;
}

.grid-square {
	width: 33%;
	height: 33%;
	text-align: center;
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
}
