body {
	background-color: #EEEEEE;
}

.section {
	color: 363636;
	text-align: center;
	max-width: 600px;
	margin: auto;
	line-height: 1.4;
	font-size: 18px;
	font-family: "Arial", "Helvetica", sans-serif;
}

#about {
	text-align: left;
}

#profile {
	height: auto;
	width: auto;
	max-height: 300px;
	max-width: 300px;
}

