body {
	background-color: #EEEEEE;
}

h1 {
	font-family: "Inconsolata", sans-serif;
	white-space: nowrap;
	font-size: 30px;
	color: 363636;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h2 {
	font-family: "Inconsolata", sans-serif;
	white-space: nowrap;
	font-size: 30px;
	color: #FFFFFF;
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
	color: 737373;
	font-size: 18px;
	font-family: "Inconsolata", sans-serif;
	line-height: 1.4;
}

.overlay {
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .2s ease
	display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#top-left-overlay {
  background-color: #F44336; # indigo
}

#top-middle-overlay {
  background-color: #00BCD4; # cyan
}

#top-right-overlay {
  background-color: #4CAF50; # light green
}

#middle-left-overlay {
  background-color: #9C27B0; # purple
}

#middle-right-overlay {
  background-color: #3F51B5; # red
}

#bottom-left-overlay {
  background-color: #03A9F4; # blue
}

#bottom-middle-overlay {
  background-color: #FFEB3B; # yellow
}

#bottom-right-overlay {
  background-color: #FF5722; # orange
}

#top-left:hover #top-left-overlay {
	opacity: 1;
}

#top-middle:hover #top-middle-overlay {
	opacity: 1;
}

#top-right:hover #top-right-overlay {
	opacity: 1;
}

#middle-left:hover #middle-left-overlay {
	opacity: 1;
}

#middle-right:hover #middle-right-overlay {
	opacity: 1;
}

#bottom-left:hover #bottom-left-overlay {
	opacity: 1;
}

#bottom-middle:hover #bottom-middle-overlay {
	opacity: 1;
}

#bottom-right:hover #bottom-right-overlay {
	opacity: 1;
}

.grid-square {
	height: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.grid-column {
	width: 33%;
	height: 100%;
}

.grid {
	width: 100%;
	height: 100%;
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
}
